<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
     
  <body>
    <script type="text/javascript">
      updateCustomer = () => {
        var record = {};
        record.id =$('#id').val();
        record.email = $('#email').val();
        record.name = $('#name').val();
        record.phone = $('#phone').val();
        record.address = $('#address').val();
        
        if(record.name ==""){
          alert('name cannot be blank.');
        } else{
           $.ajax({url: "/api/customer",
            method:'PUT', 
            data:record,
            success: function(response){
              if(response.result =="success"){
                location = "/customer";
              }else{
                alert(response.msg);
              }
            }});
        } 
        /*else if(email == password) {
          //location = "/customer";
        }*/
      }
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>>
    <h1><%= title %></h1>
    <input id = "id" type="text" name="" placeholder="id" value = "<%= customer._id %>" readonly><br/><br/>
    <input id = "name" type="text" name="" placeholder="Enter name" value = "<%=customer.name%>" ><br/><br/>
    <input id = "email" type="text" name="" placeholder="Enter email" value = "<%=customer.email%>"><br/><br/>
    <input id = "phone" type="text" name="" placeholder="Enter phone"value = "<%=customer.phone%>"><br/><br/>
    <input id = "address" type="text" name="" placeholder="Enter address"value = "<%=customer.address%>"><br/><br/>
    <input  onclick="updateCustomer();" type="button" name="" value="Submit"><br/>
  </body>
</html>